In [ ]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import scipy


from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
df = pd.read_csv("/content/gdrive/My Drive/Dataset_for_gender_classification.csv")
#we have 4 features - favourite music genre, favourite color, fav beverage, fav soft drink, with 66 datapoints.
df.head()

  Favorite Color Favorite Music Genre  ... Favorite Soft Drink Gender
0           Cool                 Rock  ...          7UP/Sprite      F
1        Neutral              Hip hop  ...     Coca Cola/Pepsi      F
2           Warm                 Rock  ...     Coca Cola/Pepsi      F
3           Warm     Folk/Traditional  ...               Fanta      F
4           Cool                 Rock  ...     Coca Cola/Pepsi      F

[5 rows x 5 columns]

In [ ]:
df.columns

Index(['Favorite Color', 'Favorite Music Genre', 'Favorite Beverage',
       'Favorite Soft Drink', 'Gender'],
      dtype='object')

In [ ]:
#Preprocessing
#converting dtype from object to categorical
for col_name in df.columns:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes

In [ ]:
df.head()

   Favorite Color  Favorite Music Genre  ...  Favorite Soft Drink  Gender
0               0                     6  ...                    0       0
1               1                     2  ...                    1       0
2               2                     6  ...                    1       0
3               2                     1  ...                    2       0
4               0                     6  ...                    1       0

[5 rows x 5 columns]

In [ ]:
X = df.iloc[:,0:4]
Y = df.iloc[:,-1]

In [ ]:
X.head()

   Favorite Color  Favorite Music Genre  Favorite Beverage  Favorite Soft Drink
0               0                     6                  3                    0
1               1                     2                  3                    1
2               2                     6                  5                    1
3               2                     1                  4                    2
4               0                     6                  3                    1

In [ ]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Gender, dtype: int8

Random forest Classifier

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
clf=RandomForestClassifier(n_estimators=75, criterion = 'gini', max_depth=4, min_samples_split=4, max_features='log2', min_samples_leaf=5)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.45

In [ ]:
#To get tree printed
#estimator = clf.estimators_[5]
#from sklearn.tree import export_graphviz

#export_graphviz(estimator, out_file='tree.dot', rounded = True, proportion = False, precision = 2, filled = True)
#from subprocess import call
#call(['dot', '-Tpng', 'tree.dot', '-o', 'tree.png', '-Gdpi=600'])

# Display in jupyter notebook
#from IPython.display import Image
#Image(filename = 'tree.png')



#export_graphviz(clf)

K Nearest neighbour

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=2)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7

In [ ]:
df.corr() #to get correlation matrix

                      Favorite Color  ...    Gender
Favorite Color              1.000000  ... -0.115564
Favorite Music Genre       -0.068996  ... -0.192661
Favorite Beverage           0.228255  ... -0.114119
Favorite Soft Drink        -0.048380  ...  0.188510
Gender                     -0.115564  ...  1.000000

[5 rows x 5 columns]

K means Clustering

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

kmeans = KMeans( init="random", n_clusters=2, n_init=10, max_iter=300, random_state=42, verbose =0)
kmeans.fit(X_train)

KMeans(algorithm='auto', copy_x=True, init='random', max_iter=300, n_clusters=2,
       n_init=10, n_jobs=None, precompute_distances='auto', random_state=42,
       tol=0.0001, verbose=0)

In [ ]:
kmeans.cluster_centers_

array([[0.71875   , 4.71875   , 2.65625   , 1.1875    ],
       [0.71428571, 1.07142857, 2.14285714, 1.42857143]])

SVM

In [ ]:
#Import svm model
from sklearn import svm
#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel
#Train the model using the training sets
clf.fit(X_train, y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.65

In [ ]:
# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(y_test, y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(y_test, y_pred))

Precision: 0.7142857142857143
Recall: 0.5

In [ ]:
clf.get_params()

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'linear',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

Logistic Regression

In [ ]:
# import the class
from sklearn.linear_model import LogisticRegression
# instantiate the model (using the default parameters)
logreg = LogisticRegression()
# fit the model with data
logreg.fit(X_train,y_train)

y_pred=logreg.predict(X_test)

In [ ]:
#Confusion matrix
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[6, 5],
       [6, 3]])

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.45
Precision: 0.375
Recall: 0.3333333333333333